/*start normalizer*/
body {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

/*end normalizer*/
.matrix-area {
  width: 512px;
  height: 512px;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

.colorSwatches {
  background-color: lightgray;
  display: inline-block;
  padding: 12px;
}

.colorSwatches--sample {
  width: 100%;
  height: 50px;
}

.colorSwatches--sample.selected {
  border: 1px solid gray;
}

.sample {
  width: 30px;
  height: 30px;
  display: inline-block;
}
